body {
    font-size: 16px;
  }
  h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
  }
  p {
    font-weight: 600;
    font-size: 3em;
  }
  ul {
    background-color: salmon;
  }
  .any-color-you-like {
    background-color: peachpuff;
  }
  #li-amarelo {
    background-color: yellow;
  }
  #li-vermelho {
    background-color: red;
  }
  #li-marrom {
    background-color: brown;
  }